.main {
    margin-top: 1em;
}
.timeline {
    box-shadow: 0 1px 3px #ccc;
    background: #fff;
    padding-top: 1rem;
}
.timeline .tab>* {
    padding: 1rem;
    display: inline-block;
    font-size: 15px;
    font-weight: bolder;
    cursor: pointer;
    position: relative;
}
.timeline .tab,
.timeline .item{
    border-bottom: 1px solid rgba(0,0,0,.1);
}
.timeline .tab span.active:after {
    content: "";
    display: inline-block;
    /* border-bottom: 1px solid #0084ff;  */
    width: 60%;
    height: 1px;
    background: #0084ff;
    position: absolute;
    left: .8rem;
    bottom: 0;
}
.timeline .item {
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.timeline .list .item>* {
    padding: 1rem;
}
.timeline .list .item .title {
    font-size: 18px;
    font-weight: bold;
}
.timeline .list .item .desc {
    line-height: 1.7rem;
}
.timeline .list .item img {
    width: 100%;
}

.timeline .list .item .info * {
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
    margin-right: 5px;
}
.card {
    background: #fff;
    margin-bottom: 1rem;
    padding: 20px;
}
.aside .shortcuts .text,
.aside .darft .text {
    font-size: 16px;
}
.aside .mine>*,
.aside .shortcuts>* ,
.aside .darft>*,
.aside .mine{
    padding: 5px;
}
.aside .shortcuts>* ,
.aside .darft>*{
    text-align: center;
}
.aside .darft a:first-child svg {
    fill: rgb(255, 207, 0);
}
.aside .darft a:first-child:hover {
    color: rgb(255, 207, 0);
}
.aside .darft .text {
    color: #ccc;
}
.aside .mine {

}
.aside .mine .icon  {
    position: relative;
    top: 4px;
} 
.aside .picture img {
    width: 100%;
} 
.aside .meta {
    margin-top: 10px;
    margin-bottom: 10px;

}
.aside .meta a {
    font-size: 13px;
    margin: 5px;
    margin-left: 0;
    color: #aaa;
}
.aside .meta a:before {
    content: ".";
    display: inline-block;
    position: relative;
    left: -3px;
    bottom: 3px;
 }
 /* .aside .meta a:last-child:after{
    display: none;
 } */
