html {
	font-size: 12px;
}
* {
	box-sizing: border-box;
}
body,
form {
	margin: 0;
}
body {
    font-family: sans-serif;
    color: inherit;
}
a {
    text-decoration: none;
    color: inherit;
    display: inline-block;
}
input,
button {
    outline: 0;
    border: 1px solid #aaa;
    padding: 1.5em;
}
.container {
	max-width: 1080px;
	margin-left: auto;
	margin-right: auto;
}
.col {
	float: left;
	padding-left: 5px;
	padding-right: 5px;
}
.left {
	float: left;
}
.right {
	float: right;
}
.text-left {
	text-align: left;
}
.text-right {
	text-align: right;
}
.row:before,
.row:after {
	content: "";
	display: block;
	clear: both;
}

.muted {
	color: rgba(0,0,0,.5);
}
.col-1 {
        width: 4.166666666666666%;
}
.col-2 {
    width: 8.333333333333333%;
}
.col-3 {
    width: 12.5%;
}
.col-4 {
    width: 16.666666666666666%;
}
.col-5 {
    width: 20.8333333333333333%;
}
.col-6 {
    width: 25%;
}
.col-7 {
    width: 29.166666666666666%;
}
.col-8 {
    width: 33.333333333333333%;
}
.col-9 {
    width: 37.5%;
}
.col-10 {
    width: 41.666666666666666%;
}
.col-11 {
    width: 45.833333333333333%;
}
.col-12 {
    width: 50%;
}
.col-13 {
    width: 54.166666666666666%;
}
.col-14 {
    width: 58.333333333333333%;
}
.col-15 {
    width: 62.5%;
}
.col-16 {
    width: 66.666666666666666%;
}
.col-17 {
    width: 70.833333333333333%;
}
.col-18 {
    width: 75%;
}
.col-19{
    width: 79.166666666666666%;
}
.col-20 {
    width: 83.333333333333333%;
}
.col-21 {
    width: 87.5%;
}
.col-22 {
    width: 91.666666666666666%;
}
.col-23 {
    width: 95.833333333333333%;
}
.col-24 {
    width: 100%;
}