.head {
	padding-top: 200px;
	padding-bottom: 200px;
}
.head .title,
.head .describe {
	display: flex;
	justify-content: center;
}
.head .title>* {
	font-size: 100px;
	font-weight: bolder;
	color: #333;
	padding: 30px;

}

.head .describe {
	font-size: 30px;
	padding-top: 70px;
	color: #444;
	font-weight: bold;
}

/* .main .left {
	justify-content: space-between;
	flex-grow: 1;
} */
/* .main .right {
	flex-grow: 4;
} */
.main .left * {
	text-align: center
}
.main .logo{
	position: relative;
	margin-left: 5%;
}
.main .logo img{
	width: 200px;
	height: 200px;
	border-radius: 100px;
	/*display: inline-block;*/
}
.main .logo span{
	position: absolute;
    top: -5%;
    left: 5%;
    font-size: 15px;
    color: #333;
}
.main .text {
	margin-top: 20px;
	text-align: center;
}
.main .text>* {
	display: block;
	padding: 10px 20px;
	color: #333;
	font-size: 20px;
	border: 2px solid #666;
	border-radius: 5px;
	margin-top: 30px;

}
.main .right .title {
	padding: 30px 50px;
}
.main .right .describe {
	font-size: 12px;
	margin-left: 50px;
}
